@use "./../1-helpers" as h;

/* Globals */

html {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: h.$font-large;
    font-family: 'Rubik', sans-serif;
    color: h.$teal;
}

h3 {
    font-size: h.$font-medium;
}

h5 {
    color: h.$light-gray;
}

/* Helpers */
.page__container {
    padding: 0 2rem;
}

.flex {
    display: flex;

    &-dir-col {
        flex-direction: column;
    }

    &-ai-c {
        align-items: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-cc {
        justify-content: center;
    }
}