/* Colors */

$primary-green: #007765;
$teal: #00c4a7;
$dark-gray: #505361;
$darker-gray: #4d4d4d;
$light-gray: #adadad;

/* Font sizes */

$font-large: 2.625rem;
$font-medium: 2rem;
$font-small: 1.5rem;